@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
	box-sizing:border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFF;
	
}

body {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Arial';
    letter-spacing: 1px;
    box-shadow: 0 0 160px 0 #515363;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
	background:#000;
    background-size:cover;
}
.app {
    width: 640px;
	height:100%;
    margin: 0 auto;
    position:relative;left:0;top:0;
}

.app-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}


/*  bgSoundImg  */
#bgSound{display:none;opacity: 0;
		-moz-opacity: 0;
		filter:alpha(opacity=0);}
.bgSoundImg{
	width: 42px;
    height: 43px;
    background: url(../images/bgSound.png);
	background-size:contain;
    position: absolute;
    right: 13px;
    top: 16px;
    z-index: 200000;
    display: block;
}
.bgSoundImg.musicPlay{
    -webkit-animation: reverseRotataZ 2s linear infinite
}


@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg)
    }

    100% {
        -webkit-transform: rotateZ(360deg)
    }
}
/*向上箭头*/
.guideTop {
    width: 40px;
    height: 50px;
    background: url(../images/units-icons.png) -67px 0;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -20px;
    z-index: 2000;
	display:none;
}
.guideTop.z-move {
    -webkit-animation: guideTop 1.5s infinite
}
@-webkit-keyframes guideTop {
    0% {
        -webkit-transform: translateY(42px);
        opacity: 0
    }

    60% {
        -webkit-transform: translateY(12px);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 0
    }
}
/*向上箭头*/
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;top:0;
    transform-origin:top center;
    overflow: hidden;
}

.page-move{display: none; position:absolute; left:0; top:0; width: 100%; height: 100%;}



.scaleBig{
	position:absolute; left:50%; top:50%;
	opacity:0;
	-webkit-animation:movealpha 1.6s 0.8s forwards; 
	-moz-animation:movealpha 1.6s 0.8s forwards; 
	-ms-animation:movealpha 1.6s 0.8s forwards; 
	animation:movealpha 1.6s 0.8s forwards; 
}
.page0{
	position:absolute; left:0; top:0; 
	width: 100%; height: 100%; 
	background: url("../images/page0_bg.jpg") no-repeat center center; 
	background-size:cover;
	/*
	-webkit-filter: grayscale(1);
	*/
}
.page00{
	position:absolute; left:0; top:0; 
	width: 100%; height: 100%; 
	background: url("../images/page00_bg.jpg") no-repeat center center; 
	background-size: 100% 100%;
}
.txt1{width:248px; height:68px; background:url(../images/txt1.png) no-repeat center center; margin-left:50px; margin-top:200px; z-index: 10;}
.intro{position:absolute; left:47%; top:80%; -webkit-transform:translate(-50%,20%); font-family:"楷体",Arial; font-size:24px; text-align:center; line-height:30px;}
.clickImg{
	width:150px; height:150px; margin:0 auto;
	background:url(../images/clickImg.png) no-repeat center center; 
	border-radius:50%;
	-webkit-animation:myClick 2s infinite; 
	border:32px rgba(255,255,255,0.5) solid;
}
.img1{position:absolute;width:164px; height:164px; left:40%; top:50%; margin:0 auto;z-index: 99}
@-webkit-keyframes myClick{
	0%{
		border:32px rgba(255,255,255,0) solid;
	}
	100%{
		border:0px rgba(255,255,255,0.5) solid;
	}	
}

.page2{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page2_bg.jpg") no-repeat center center; background-size:cover;}
.txt2{position:absolute; width:354px; height:327px; background:url(../images/txt2.png) no-repeat; right:0; bottom:0px; z-index: 99}
.txt2a{width:253px; height:253px; background:url(../images/txt2a.png) no-repeat center center; margin-left:-250px; margin-top:-450px; z-index: 99}

.page3{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page3_bg.jpg") no-repeat center center; background-size: 100% 100%;}
.txt3{width:468px; height:701px; background:url(../images/txt3.png) no-repeat center center; margin-left:-290px; margin-top:-400px; }

.page4{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page4_bg.jpg") no-repeat center center; background-size:  100% 100%;}
.txt4{width:395px; height:292px; background:url(../images/txt4.png) no-repeat center center; margin-left:-226px; margin-top:-500px; }
.txt4a{width:233px; height:412px; background:url(../images/txt4a.png) no-repeat center center; margin-left:0px; margin-top:-100px; }

.page5{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page5_bg.jpg") no-repeat center center; background-size:  100% 100%;}
.txt5{width:441px; height:794px; background:url(../images/txt5.png) no-repeat center center; margin-left:-269px; margin-top:-500px; }

.page6{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page6_bg.jpg") no-repeat center center; background-size:  100% 100%;}
.txt6{width:534px; height:690px; background:url(../images/txt6.png) no-repeat center center; margin-left:-300px; margin-top:-400px; }

.page7{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page7_bg.jpg") no-repeat center center; background-size:  100% 100%;}
.txt7{width:489px; height:492px; background:url(../images/txt7.png) no-repeat center center; margin-left:-250px; margin-top:-150px; }

.page8{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page8_bg.jpg") no-repeat center center; background-size:  100% 100%;}
.txt8{width:537px; height:804px; background:url(../images/txt8.png) no-repeat center center; margin-left:-250px; margin-top:-400px; }

.page9{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page9_bg.jpg") no-repeat center center; background-size:  100% 100%;}
.txt9{width:547px; height:338px; background:url(../images/txt9.png) no-repeat center center; margin-left:-300px; margin-top:-100px; }

.page10{position:absolute; left:0; top:0; width: 100%; height: 100%; background: url("../images/page10_bg.jpg") no-repeat center center; background-size:  100% 100%;}
.txt10{width:591px; height:910px; position:absolute; left:0%; top:50%; background:url(../images/txt10.png) no-repeat center center;  margin-left:-0px; margin-top:-400px; text-align:center;}
.name_txt{position:absolute; width:220px; height:40px;font-size:30px;z-index:100; margin-left:150px; margin-top:110px; left:0%; top:50%;}
.gender_txt{position:absolute; width:220px; height:40px;font-size:30px;z-index:100; margin-left:150px; margin-top:170px; left:0%; top:50%;}
.tel_txt{position:absolute; width:220px; height:40px;font-size:30px;z-index:100; margin-left:150px; margin-top:230px; left:0%; top:50%;}

.logo2{width:144px; height:43px; background:url(../images/logo.png) no-repeat center center; position:absolute; left:14px; top:14px;}

@-webkit-keyframes cycleScale{
	0%{
		-webkit-transform: scale(0);	
	}
	80%{
		-webkit-transform: scale(1.15);	
	}	
	100%{
		-webkit-transform:scale(1);	
	}
}

@-webkit-keyframes movealpha{
	0%{
		-webkit-transform: translateY(40px);	
		opacity:0;
	}
	100%{
		-webkit-transform: translateY(0px);	
		opacity:1;
	}
}


.weixin-guide{ display: none; position:fixed; left:0; top:0;width: 100%; height: 100%; background:rgba(0,0,0,0.8); z-index:6000000;}
.weixin-guide img{float: right; margin:66px 77px;}


/*loading*/
.source {
  background: #000;
  width: 100%;
  height: 100%;
}
.source .loader {
  font-size: 100px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  top:48%;
  left:50%;
  margin-left:-45px;
  -webkit-animation: load 1.7s infinite ease;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #fffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}

@-webkit-keyframes wave-animation {
  0% { background-position: 0 bottom; }
  100% { background-position: 300px bottom; }
}
@-webkit-keyframes loading-animation {
  0% { background-size: 300px 50px; }
  100% { background-size: 300px 100px; }
}
.wave {
  position: absolute;  bottom: 0;
  width: 100%; height: 100px;
  background-image: url("../images/wave1.png");
  -webkit-animation: wave-animation 1s infinite linear, loading-animation 5s infinite linear alternate;
  background-repeat: repeat-x;
  z-index: 5;
}
@-webkit-keyframes loading-animation2 {
  0% { background-size: 300px 100px; }
  100% { background-size: 300px 150px; }
}
.wave2 {
  position: absolute;  bottom: 0;
  width: 100%; height: 150px;
  background-image: url("../images/wave2.png");
  -webkit-animation: wave-animation 1s infinite linear, loading-animation2 10s infinite linear alternate;
  background-repeat: repeat-x;
  z-index: 4;
}
@-webkit-keyframes loading-animation3 {
  0% { background-size: 300px 150px; }
  100% { background-size: 300px 200px; }
}
.wave3 {
  position: absolute;  bottom: 0;
  width: 100%; height: 200px;
  background-image: url("../images/wave3.png");
  -webkit-animation: wave-animation 1s infinite linear, loading-animation3 15s infinite linear alternate;
  background-repeat: repeat-x;
  z-index: 3;
}
@-webkit-keyframes loading-animation4 {
  0% { background-size: 300px 200px; }
  100% { background-size: 300px 250px; }
}
.wave4 {
  position: absolute;  bottom: 0;
  width: 100%; height: 250px;
  background-image: url("../images/wave4.png");
  -webkit-animation: wave-animation 1s infinite linear, loading-animation4 20s infinite linear alternate;
  background-repeat: repeat-x;
  z-index: 2;
}

@-webkit-keyframes ppr-animation {
  0% { left: 100px; top: 200px; }
  25% { left: 200px; top: 300px; }
  50% { left: 50px; top: 500px; }
  75% { left: 400px; top: 100px; }
  100% { left: 100px; top: 200px; }
}
.ppr {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 200px;
  display: block;
  background-image: url("../images/ppr.png");
  background-size: 100% 100%;
  -webkit-animation: ppr-animation 8s infinite linear;
  opacity: 1;
  z-index: 99;
}
